#En_tete {
     text-align: left;
     font-size: 20px;
    background-color: hsl(165, 100%, 84%);
    background-size: cover;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 10px 5px 5px hsl(168, 100%, 16%);
    border-collapse: separate;
    border: 1px solid #000;
}

#Accroche {
    text-align: left;
    font-size: 20px;
   background-color: hsl(165, 100%, 84%);
   background-size: cover;
   border-radius: 10px;
   padding: 1%;
   box-shadow: 10px 5px 5px hsl(168, 100%, 16%);
   border-collapse: separate;
   border: 1px solid #000;
}

#Formation {
    text-align: left;
    font-size: 20px;
   background-color: hsl(165, 100%, 84%);
   background-size: cover;
   border-radius: 10px;
   padding: 1%;
   box-shadow: 10px 5px 5px hsl(168, 100%, 16%);
   border-collapse: separate;
   border: 1px solid #000;
}

#Experience {
    text-align: left;
    font-size: 20px;
   background-color: hsl(165, 100%, 84%);
   background-size: cover;
   border-radius: 10px;
   padding: 1%;
   box-shadow: 10px 5px 5px hsl(168, 100%, 16%);
   border-collapse: separate;
   border: 1px solid #000;
}

#Projet {
    text-align: left;
    font-size: 20px;
   background-color: hsl(165, 100%, 84%);
   background-size: cover;
   border-radius: 10px;
   padding: 1%;
   box-shadow: 10px 5px 5px hsl(168, 100%, 16%);
   border-collapse: separate;
   border: 1px solid #000;
}

#Competences {
    text-align: left;
    font-size: 20px;
   background-color: hsl(165, 100%, 84%);
   background-size: cover;
   border-radius: 10px;
   padding: 1%;
   box-shadow: 10px 5px 5px hsl(168, 100%, 16%);
   border-collapse: separate;
   border: 1px solid #000;
}

#Centreinteret {
    text-align: left;
    font-size: 20px;
    background-color: hsl(165, 100%, 84%);
    background-size: cover;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 10px 5px 5px hsl(168, 100%, 16%);
    border-collapse: separate;
    border: 1px solid #000;
}

#formulaire {
    text-align: left;
    font-size: 20px;
    background-color: hsl(165, 100%, 84%);
    background-size: cover;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 10px 5px 5px hsl(168, 100%, 16%);
    border-collapse: separate;
    border: 1px solid #000;
}